{% extends "prod/base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
{% block content %}
  <div class="row wow fadeIn">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}   <!--It is added security feature without which form won't work -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">CHANGE PASSWORD</legend>  <!--mb is margin border -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
  </div>
{% endblock content %}
