{% extends "prod/base.html" %}
<!DOCTYPE html>
{% block content %}
  <div class="container-fluid" style="background-image: url('/static/prod/img/slide1.jpg'); background-repeat: no-repeat; background-size: cover;padding-top: 110px;padding-bottom: 110px;color: #fff">
    <div class="row">
      <div class="col-md-12">
         <h1 class="lg-text-white">About TNGTech</h1>
       </div>
    </div>
  </div>
  <div class="container text-center pt-3">
    <h2><strong>About TNGtech</strong></h2>
    <p>In 2019, with the commencement of TNG Tech Store in the center of Hamilton city, New
Zealand it has managed to provide its services in electrical gadgets reparation to thousands ofindividuals.</p>
  </div>
  <div class="container pt-5" style="background-color:#f5f9fc;">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 aos-init aos-animate" data-aos="fade-up">
                <div class="float-left hidden-sm"><img src="/static/prod/img/inner-abt.png" class="img-fluid" alt=""></div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 aos-init aos-animate" data-aos="fade-up">
                <div class="pb-0">
					             <div class="text-left pb-0">
                         <h2><strong>Why choose TNG Tech solution?</strong></h2>
					             </div>
                       <p>Our certified technical specialists work passionately to provide the finest services to itscustomers and ensures the utmost satisfaction by making impossible possible in this domain.</p>
					             <p>We pride ourselves on our clear and transparent pricing. We offer flat rate monthly discountswhich includes unlimited support and service calls.</p>
                       <p>We give our customers express repair service that guarantees to fix your smartphone in 45minutes.</p>
                       <p>Our all time staff is available for an onsite visit as well as remote support session to ensure aconstant comfort for its customers.</p>
					 	    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-5">
    <div class="text-center pb-3">
      <h2><strong>We guarantee a steady supply</strong></h2>
    </div>
    <div class="text-center" style="display: flex;flex-direction: row;flex-wrap: wrap;">
      <div class="item wow fadeInUpBig animated animated text-center" data-number="12" style="visibility: visible;font-size: 24px;flex: 0 0 50%;">
        <i class="fa fa-home"></i>
        <p>Quick and <br>Reliable Services</p>
      </div>
      <div class="item wow fadeInUpBig animated animated text-center" data-number="12" style="visibility: visible;font-size: 24px;flex: 0 0 50%;">
        <i class="fa fa-users"></i>
        <p>Quick and <br>Professional Services</p>
      </div>
      <div class="item wow fadeInUpBig animated animated text-center" data-number="12" style="visibility: visible;font-size: 24px;flex: 0 0 50%;">
        <i class="fa fa-tag"></i>
        <p>Quick and <br>Competitive Price</p>
      </div>
      <div class="item wow fadeInUpBig animated animated text-center" data-number="12" style="visibility: visible;font-size: 24px;flex: 0 0 50%;">
        <i class="fa fa-truck"></i>
        <p>Quick and <br>Nationwide Services</p>
      </div>
    </div>
  </div>

  <div class="container pt-5" style="background-color:#f5f9fc;">
    <div class="text-center pb-5">
      <h2><strong>Our never ending services</strong></h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div style="font-size: 16px;padding: 0 10px;color: #666;text-align: left;">
          <b> Our experts are equipped with latest technological knowledge in repairing that delivers their
expertise in</b>
          <ul style="list-style: none;color: #f13d51;">
            <li><i class="fa fa-check-circle" aria-hidden="true"></i> Mobile repair</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i> Laptop repair</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Tablet repair</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div style="font-size: 16px;padding: 0 10px;color: #666;text-align: left;">
          <b> We assist our customers in providing services of repair in</b>
          <ul style="list-style: none;color: #f13d51;">
					  <li><i class="fa fa-check-circle" aria-hidden="true"></i> Screen repair</li>
					  <li><i class="fa fa-check-circle" aria-hidden="true"></i> Battery replacement</li>
					  <li><i class="fa fa-check-circle" aria-hidden="true"></i> Headphone repair services</li>
					  <li><i class="fa fa-check-circle" aria-hidden="true"></i>	Speaker replacement</li>
					  <li><i class="fa fa-check-circle" aria-hidden="true"></i>	Signal issue repair</li>
					  <li><i class="fa fa-check-circle" aria-hidden="true"></i>	Water damage</li>
				  </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div style="font-size: 16px;padding: 0 10px;color: #666;text-align: left;">
          <b> We also deal in and sell variety of electronic gadgets that comes in handy at our store</b>
          <ul style="list-style: none;color: #f13d51;">
					  <li><i class="fa fa-check-circle" aria-hidden="true"></i> Wireless chargers</li>
					  <li><i class="fa fa-check-circle" aria-hidden="true"></i> Suction cup holders</li>
					  <li><i class="fa fa-check-circle" aria-hidden="true"></i> Wireless microphone</li>
					  <li><i class="fa fa-check-circle" aria-hidden="true"></i> Tempered glass</li>
					  <li><i class="fa fa-check-circle" aria-hidden="true"></i> Mobile holder</li>
				  </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="map-responsive mt-5">
	  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.1033378214065!2d175.27708671496833!3d-37.787617940320004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d6d18a5970d5f83%3A0x717c7e815cc4aa8b!2s109%20Ward%20Street%2C%20Hamilton%203204%2C%20New%20Zealand!5e0!3m2!1sen!2sin!4v1585740306573!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>


{% endblock %}
