{% extends "prod/base.html" %}
{% block secheku %}
<div class="section">
<div class="container">

	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}
	{% endif %}





	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<form method="POST">
					{% csrf_token %}
				<div class="col-md-7">
					<!-- Shiping Details -->
					<div class="shiping-details">
						<div class="section-title">
							<h3 class="title">Shipping address</h3>
						</div>
						<div class="hideable_shipping_form">
							<!-- <input type="checkbox" id="shiping-address">
							<label for="shiping-address">
								<span></span>
								Ship to a diffrent address?
							</label> -->
							<div class="caption">
								<div class="form-group">
									<input type="text" id="shipping_address" name="shipping_address" class="form-group"
									placeholder="1234 Main St">
									<label for="shipping_address" class="">Address</label>
									<!-- <input class="input" type="text" name="first-name" placeholder="First Name"> -->
								</div>
								<div class="form-group">
									<input type="text" id="shipping_address2" name="shipping_address2" class="form-group"
									placeholder="Apartment or suite">
									<label for="shipping_address2" class="">Address 2 (optional)</label>
									<!-- <input class="input" type="text" name="last-name" placeholder="Last Name"> -->
								</div>
								<div class="form-group">
									<label for="shipping_country">Country</label>

									{{ form.shipping_country }}
									<div class="invalid-feedback">
										Please select a valid country.
									</div>
								</div>
								<div class="form-group">
									<label for="shipping_zip">Zip</label>
									<input type="text" class="form-group" id="shipping_zip" name="shipping_zip"
										placeholder="Zip Code">
									<!--{{ form.zip }}-->
									<div class="invalid-feedback">
										Zip code required.
									</div>
								</div>
								<div class="form-group">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" name="same_billing_address"
											id="same_billing_address">
										<label class="custom-control-label" for="same_billing_address">Billing address is the same
											as my shipping address</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" name="set_default_shipping"
											id="set_default_shipping">
										<label class="custom-control-label" for="set_default_shipping">Save as default shipping
											address</label>
									</div>
								</div>
								<!-- <div class="form-group">
									<input class="input" type="text" name="zip-code" placeholder="ZIP Code">
								</div> -->
								
							</div>
						</div>
						{% if default_shipping_address %}
						<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" name="use_default_shipping"
							id="use_default_shipping">
						<label class="custom-control-label" for="use_default_shipping">Use default shipping address:
							{{ default_shipping_address.street_address|truncatechars:10 }}</label>
						</div>
						{% endif %}

					</div>
					<!-- /Shiping Details -->

					<!-- Billing Details -->
					<div class="billing-details">
						<div class="section-title">
							<h3 class="title">Billing address</h3>
						</div>
						<div class="hideable_billing_form">
							<div class="form-group">
								<input type="text" id="billing_address" name="billing_address" class="form-control"
								placeholder="1234 Main St">
								<label for="billing_address" class="">Address</label>
							</div>
							<div class="form-group">
								<input type="text" id="billing_address2" name="billing_address2" class="form-control"
								placeholder="Apartment or suite">
								<label for="billing_address2" class="">Address 2 (optional)</label>
							</div>
							<div class="form-group">
								<label for="billing_country">Country</label>

								{{ form.billing_country }}
								<div class="invalid-feedback">
									Please select a valid country.
								</div>
							</div>
							<div class="form-group">
								<label for="billing_zip">Zip</label>
								<input type="text" class="form-control" id="billing_zip" name="billing_zip"
									placeholder="Zip Code">
								<div class="invalid-feedback">
									Zip code required.
								</div>
							</div>
							
							<div class="form-group">
								<!-- <div class="input-checkbox">
									<input type="checkbox" id="create-account">
									<label for="create-account">
										<span></span>
										Create Account?
									</label>
									<div class="caption">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
										<input class="input" type="password" name="password" placeholder="Enter Your Password">
									</div>
								</div> -->
								<div class="custom-control custom-checkbox" id="bill_savedef">
									<input type="checkbox" class="custom-control-input" name="set_default_billing"
										id="set_default_billing">
									<label class="custom-control-label" for="set_default_billing">Save as default billing
										address</label>
								</div>
							</div>
						</div>
						{% if default_billing_address %}
						<div class="custom-control custom-checkbox" id="bill_usedef">
							<input type="checkbox" class="custom-control-input" name="use_default_billing"
								id="use_default_billing">
							<label class="custom-control-label" for="use_default_billing">Use default billing address:
								{{ default_billing_address.street_address|truncatechars:10 }}</label>
						</div>
						{% endif %}
					</div>
					<!-- /Billing Details -->
					<!-- <div class="d-block my-3">
						{% for value,name in form.fields.payment_option.choices %}
						<div class="custom-control custom-radio">
							<input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio"
								class="custom-control-input" required>
							
							<label class="custom-control-label" for="{{ name }}">{{ name }}</label>
						</div>
						{% endfor %}
						
					</div> -->

					<!-- <a href="#" class="primary-btn order-submit">Place order</a> -->
				</div>
				
				<!-- Order Details -->
				<div class="col-md-5 order-details">
					<div class="section-title text-center">
						<h3 class="title">Your Order</h3>
					</div>
					<div class="order-summary">
						<div class="order-col">
							<div><strong>PRODUCT</strong></div>
							<div><strong>TOTAL</strong></div>
						</div>
						{% for order_item in order.tngproduct.all %}
						<div class="order-products">
							<div class="order-col">
								<div>{{ order_item.quantity }} x {{ order_item.tngproducts.Name }}</div>
								<div>${{ order_item.get_final_price }}</div>
							</div>
						</div>
						{% endfor %}
						<div class="order-col">
							<div>Shiping</div>
							<!-- <div><strong>FREE</strong></div> -->
							<label for="shiploc">Choose loaction</label>
							<select name="shiploc" id="shiploc">
								<option selected="selected">Choose</option>
								<option value="Auckland">Delivery - Auckland</option>
								<!-- <option value="Whangarei to Hamilton">Delivery - Whangarei to Hamilton</option> -->
								<option value="Rest of north island">Delivery - Rest of north island</option>
								<!-- <option value="Kaikoura to Timaru">Delivery - Kaikoura to Timaru</option> -->
								<option value="Christchurch">Delivery - Christchurch</option>
								<option value="Rest of south island">Delivery - Rest of south island</option>
							</select>
							<div><strong><span id="delcharge"></span></strong></div>
						</div>
						<div class="order-col">
							<div><strong>TOTAL (NZD)</strong></div>
							<div><strong class="order-total yetot" id="{{ order.get_total }}">$<span id="ttlw">{{ order.get_total }}</span></strong></div>
						</div>
					</div>
					<div class="d-block my-3">
						
						<div class="custom-control custom-radio">
							<input id="Paymark" name="payment_option" value="P" type="radio"
								class="custom-control-input" required>
							
							<label class="custom-control-label" for="Paymark">Paymark</label>
						</div>
						
						
					</div>
					<div class="input-checkbox">
						<input type="checkbox" id="terms" name="readtnc">
						<label for="terms">
							<span></span>
							I've read and accept the <a href="{% url 'tandc' %}">terms & conditions</a>
						</label>
					</div>
					<span id="rnatnc"><a class="primary-btn order-submit">Place order</a></span>
				</div>
				<!-- /Order Details -->
			</form>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->



	

</div>
</div>

{% endblock %}

{% block js %}
<script>

	var hideable_shipping_form = $('.hideable_shipping_form');
	var hideable_billing_form = $('.hideable_billing_form');
	let bill_savedef = document.getElementById("bill_savedef");
	var rnatnc = document.getElementById("rnatnc");
	// let bill_usedef = document.getElementById("bill_usedef");

	var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
	var read_tnc = document.querySelector("input[name=readtnc]");
	var use_default_billing = document.querySelector("input[name=use_default_billing]");
	var same_billing_address = document.querySelector("input[name=same_billing_address]");
	var shipping_address = document.querySelector("input[name=shipping_address]");
	var shipping_address2 = document.querySelector("input[name=shipping_address2]");
	var shipping_zip = document.querySelector("input[name=shipping_zip]");
	var delbill = document.querySelector("select[name=shiploc]");
	var delship = $('#shiploc').val();
	if(delship == "Choose"){
		rnatnc.innerHTML = '<a class="primary-btn order-submit">Place order</a>';
	}
	delbill.addEventListener('change', function(){
	delship = $('#shiploc').val();
	var totalwa = parseFloat($('.yetot').attr("id"));
	if(delship == "Choose"){
		rnatnc.innerHTML = '<a class="primary-btn order-submit">Place order</a>';
	}
	if(delship == "Auckland"){
		totalwa += 6.0;
		document.getElementById("delcharge").innerHTML="$"+6.00;
		if(read_tnc.checked){
			rnatnc.innerHTML = '<button class="btn btn-danger btn-lg btn-block" type="submit">Place order</button>';			
		}
		else{
			rnatnc.innerHTML = '<a class="primary-btn order-submit">Place order</a>';
		}
	}
	if(delship == "Whangarei to Hamilton"){
		totalwa += 6.37;
		document.getElementById("delcharge").innerHTML="$"+6.37;
		if(read_tnc.checked){
			rnatnc.innerHTML = '<button class="btn btn-danger btn-lg btn-block" type="submit">Place order</button>';			
		}
		else{
			rnatnc.innerHTML = '<a class="primary-btn order-submit">Place order</a>';
		}
	}
	if(delship == "Rest of north island"){
		totalwa += 11.99;
		document.getElementById("delcharge").innerHTML="$"+11.99;
		if(read_tnc.checked){
			rnatnc.innerHTML = '<button class="btn btn-danger btn-lg btn-block" type="submit">Place order</button>';			
		}
		else{
			rnatnc.innerHTML = '<a class="primary-btn order-submit">Place order</a>';
		}
	}
	if(delship == "Kaikoura to Timaru"){
		totalwa += 19.14;
		document.getElementById("delcharge").innerHTML="$"+19.14;
		if(read_tnc.checked){
			rnatnc.innerHTML = '<button class="btn btn-danger btn-lg btn-block" type="submit">Place order</button>';			
		}
		else{
			rnatnc.innerHTML = '<a class="primary-btn order-submit">Place order</a>';
		}
	}
	if(delship == "Christchurch"){
		totalwa += 12.00;
		document.getElementById("delcharge").innerHTML="$"+12.0;
		if(read_tnc.checked){
			rnatnc.innerHTML = '<button class="btn btn-danger btn-lg btn-block" type="submit">Place order</button>';			
		}
		else{
			rnatnc.innerHTML = '<a class="primary-btn order-submit">Place order</a>';
		}
	}
	if(delship == "Rest of south island"){
		totalwa += 19.14;
		document.getElementById("delcharge").innerHTML="$"+19.14;
		if(read_tnc.checked){
			rnatnc.innerHTML = '<button class="btn btn-danger btn-lg btn-block" type="submit">Place order</button>';			
		}
		else{
			rnatnc.innerHTML = '<a class="primary-btn order-submit">Place order</a>';
		}
	}
	document.getElementById("ttlw").innerHTML=totalwa;
	})

	// console.log(shipping_address.value);
	same_billing_address.addEventListener('change', function () {
		if (this.checked) {
			document.querySelector("input[name=billing_address]").value = shipping_address.value;
			document.querySelector("input[name=billing_address2]").value = shipping_address2.value;
			document.querySelector("input[name=billing_zip]").value = shipping_zip.value;
			// console.log(bill_savedef)
			// bill_savedef.style.visibility = "hidden";
			bill_usedef.style.visibility = "hidden";
			// console.log(bill_usedef.value); change the value if checked  <===================
			// bill_usedef.style.display = "none";
		} else {
			document.querySelector("input[name=billing_address]").value = null;
			document.querySelector("input[name=billing_address2]").value = null;
			document.querySelector("input[name=billing_zip]").value = null;
			// bill_savedef.style.visibility = "visible";
			bill_usedef.style.visibility = "visible";
			//console.log(bill_usedef.value);
			// bill_usedef.style.display = "block";
		}
	})

	read_tnc.addEventListener('change', function(){
		if(this.checked){
			delship = $('#shiploc').val();
			if(delship == "Choose"){
				rnatnc.innerHTML = '<a class="primary-btn order-submit">Place order</a>';
			}
			else{
				rnatnc.innerHTML = '<button class="btn btn-danger btn-lg btn-block" type="submit">Place order</button>';
			}
		}
		else{
			rnatnc.innerHTML = '<a class="primary-btn order-submit">Place order</a>';
		}
	})

	use_default_shipping.addEventListener('change', function () {
		if (this.checked) {
			hideable_shipping_form.hide();
			// console.log(hideable_shipping_form);
		} else {
			hideable_shipping_form.show();
		}
	})

	use_default_billing.addEventListener('change', function () {
		if (this.checked) {
			hideable_billing_form.hide();
		} else {
			hideable_billing_form.show();
		}
	})

</script>
{% endblock %}