{% load static %}
{% load cart_template_tags %}
<!-- {% load crispy_forms_tags %} -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Mobile repairs Hamilton | Mobile Phone repairs Waikat</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="{% static 'prod/css/bootstrap.min.css' %}">

	<!-- Slick -->
	<link rel="stylesheet" href="{% static 'prod/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'prod/css/slick-theme.css' %}">

	<!-- nouislider -->
	<link rel="stylesheet" href="{% static 'prod/css/nouislider.min.css' %}">

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="{% static 'prod/css/font-awesome.min.css' %}">

	<!-- Custom stlylesheet -->
	<link rel="stylesheet" href="{% static 'prod/css/style.css' %}">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	<style>
		.alert {
			position: relative;
			padding: 0.75rem 1.25rem;
			margin-bottom: 1rem;
			border: 1px solid transparent;
			border-radius: 0.25rem;
		}

		.alert-heading {
			color: inherit;
		}

		.alert-link {
			font-weight: 700;
		}

		.alert-dismissible {
			padding-right: 4rem;
		}

		.alert-dismissible .close {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.75rem 1.25rem;
			color: inherit;
		}

		.alert-primary {
			color: #004085;
			background-color: #cce5ff;
			border-color: #b8daff;
		}

		.alert-primary hr {
			border-top-color: #9fcdff;
		}

		.alert-primary .alert-link {
			color: #002752;
		}

		.alert-secondary {
			color: #383d41;
			background-color: #e2e3e5;
			border-color: #d6d8db;
		}

		.alert-secondary hr {
			border-top-color: #c8cbcf;
		}

		.alert-secondary .alert-link {
			color: #202326;
		}

		.alert-success {
			color: #155724;
			background-color: #d4edda;
			border-color: #c3e6cb;
		}

		.alert-success hr {
			border-top-color: #b1dfbb;
		}

		.alert-success .alert-link {
			color: #0b2e13;
		}

		.alert-info {
			color: #0c5460;
			background-color: #d1ecf1;
			border-color: #bee5eb;
		}

		.alert-info hr {
			border-top-color: #abdde5;
		}

		.alert-info .alert-link {
			color: #062c33;
		}

		.alert-warning {
			color: #856404;
			background-color: #fff3cd;
			border-color: #ffeeba;
		}

		.alert-warning hr {
			border-top-color: #ffe8a1;
		}

		.alert-warning .alert-link {
			color: #533f03;
		}

		.alert-danger {
			color: #721c24;
			background-color: #f8d7da;
			border-color: #f5c6cb;
		}

		.alert-danger hr {
			border-top-color: #f1b0b7;
		}

		.alert-danger .alert-link {
			color: #491217;
		}

		.alert-light {
			color: #818182;
			background-color: #fefefe;
			border-color: #fdfdfe;
		}

		.alert-light hr {
			border-top-color: #ececf6;
		}

		.alert-light .alert-link {
			color: #686868;
		}

		.alert-dark {
			color: #1b1e21;
			background-color: #d6d8d9;
			border-color: #c6c8ca;
		}

		.alert-dark hr {
			border-top-color: #b9bbbe;
		}

		.alert-dark .alert-link {
			color: #040505;
		}
	</style>
</head>

<body>
	<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="tel:+64 7 834 1325"><i class="fa fa-phone"></i> +64 7 834 1325</a></li>
					<li><a href="mailto:info@tngtechsolutions.co.nz"><i
								class="fa fa-envelope-o"></i>info@tngtechsolutions.co.nz</a></li>
					<!-- <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li> -->
				</ul>
				<ul class="header-links pull-right">
					<li class="nav-item">
						<a href="https://www.facebook.com/tngtechsolutions/" class="nav-link waves-effect"
							target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li class="nav-item">
						<a href="https://twitter.com/tng_tech" class="nav-link waves-effect" target="_blank">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li class="nav-item">
						<a href="https://www.instagram.com/tngtech.nz/" class="nav-link waves-effect" target="_blank">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					<li class="nav-item">
						<a href="https://www.linkedin.com/company/tng-tech-solutions/" class="nav-link waves-effect"
							target="_blank">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<!-- <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li> -->
					<!-- <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li> -->
					{% if user.is_authenticated %}
					<!-- <li>
								<a href="{% url 'profile' %}">Profile</a>
							</li> -->
					<li class="nav-item dropdown">
						<!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  {{ user.username }}
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								  <a class="dropdown-item apnaa" href="{% url 'profile' %}" style="color: black;">Profile</a>
								  <a class="dropdown-item apnaa" href="{% url 'logout' %}" style="color: black;">Log Out</a>
								</div> -->
						<div class="dropdown show">
							<a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ user.username }}
							</a>

							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
								style="background-color: black;">
								<a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
								<a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
							</div>
						</div>
					</li>
					<!-- <li>
								<a href="{% url 'logout' %}">Log Out</a>
							</li> -->
					{% else %}
					<li>
						<a href="{% url 'login' %}">Log In</a>
					</li>
					<li>
						<a href="{% url 'userreg' %}">Register</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->

		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="{% url 'homie' %}" class="logo">
								<img src="{% static 'prod/img/logo-black.png' %}" alt="" style="width:250px;">
							</a>
						</div>
					</div>
					<!-- /LOGO -->

					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="header-search">
							<form method="get" action="{% url 'searchprod' %}">

								<input class="input" type="text" name="search" placeholder="Search here">
								<button class="search-btn" type="submit">Search</button>
							</form>
						</div>
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Wishlist -->
							<!-- <div>
								<a href="#">
									<i class="fa fa-heart-o"></i>
									<span>Your Wishlist</span>
									<div class="qty">2</div>
								</a>
							</div> -->
							<!-- /Wishlist -->

							<!-- Cart -->
							{% if user.is_authenticated %}
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-shopping-cart"></i>
									<span>Your Cart</span>
									{% if request.user|cart_item_count != 0 %}
									<div class="qty">{{ request.user|cart_item_count }}</div>
									{% endif %}
								</a>
								{% if request.user|cart_item_count != 0 %}
								<div class="cart-dropdown">
									<div class="cart-list">
										{% for c in ctq.tngproduct.all %}
										<div class="product-widget">
											<div class="product-img">
												<img src="{{ c.tngproducts.image.url }}" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">{{ c.tngproducts.Name }}</a></h3>
												{% if c.tngproducts.Discount_Price %}
												<h4 class="product-price"><span
														class="qty">{{ c.quantity }}x</span>${{ c.get_total_discount_price }}
												</h4>
												<!-- <span class="badge badge-primary">saving ${{ order_item.get_amount_save }}</span> Extra functionality in no time (tags,labels and badges) -->
												{% else %}
												<h4 class="product-price"><span
														class="qty">{{ c.quantity }}x</span>${{ c.get_total_item_price }}
												</h4>
												{% endif %}
											</div>
											<button class="delete"><i class="fa fa-close"></i></button>
										</div>
										{% endfor %}
									</div>
									<div class="cart-summary">
										<small>{{ request.user|cart_item_count }} Item(s) selected</small>
										<h5>SUBTOTAL: ${{ ctq.get_total }}</h5>
									</div>
									<div class="cart-btns">
										<a href="/order-summary/">View Cart</a>
										<a href="/checkout/">Checkout <i class="fa fa-arrow-circle-right"></i></a>
									</div>
								</div>
								{% endif %}
							</div>
							{% else %}
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-shopping-cart"></i>
									<span>Your Cart</span>
									<div class="qty" id="cartlogout"></div>
								</a>
								<div class="cart-dropdown">
									<div class="cart-list">
										{% for prd in object_list %}
										<div class="product-widget apnacart{{ prd.id }} apnpur">
											<div class="product-img">
												<img src="{{ prd.image.url }}" alt="">
											</div>
											<div class="product-body">
												<span id="div{{ prd.id }}">
													<h3 class="product-name"><a href="#">{{ prd.Name }}</a></h3>
												</span>
												{% if prd.Discount_Price %}
												<h4 class="product-price"><span class="qty"
														id="apnctqt{{ prd.id }}">x</span>$<span
														id="dp{{ prd.id }}">{{ prd.Discount_Price }}</span>
												</h4>
												{% else %}
												<h4 class="product-price"><span class="qty"
														id="apnctqt1{{ prd.id }}">x</span>$<span
														id="op{{ prd.id }}">{{ prd.Price }}</span>
												</h4>
												{% endif %}
											</div>
											<button class="delete remitem" id="{{ prd.id }}"><i
													class="fa fa-close"></i></button>
										</div>
										{% endfor %}
									</div>
									<div class="cart-summary">
										<small><span id="titms"></span> Item(s) selected</small>
										<h5><span id="tot"></span></h5>
									</div>
									<div class="cart-btns">
										<a href="/order-summary/">View Cart</a>
										<a href="/checkout/">Checkout <i class="fa fa-arrow-circle-right"></i></a>
									</div>
								</div>
							</div>
							{% endif %}
							<!-- /Cart -->

							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="{% url 'homie' %}">Home</a></li>
					<li><a href="#">Hot Deals</a></li>
					<li><a href="online-booking/nan/">Book Online</a></li>
					<li>
						<a href="store/prdcts/">Products</a>
						<!-- <a href="serv-prod/prdcts/" id="dropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Products
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a href="serv-prod/MobileAccessories/">Mobile Accessories</a><br>
							<a href="serv-prod/LaptopAccessories/">Laptop Accessories</a><br>
							<a href="serv-prod/TabletAccessories/">Tablet Accessories</a><br>
							<a href="serv-prod/ElectronicGadgets/">Electronic Gadgets</a><br>
							<a href="serv-prod/LatestAccessories/">Latest Accessories</a>
						</div> -->
					</li>
					<li>
						<a href="store/serv/">Services</a>
						<!-- <a href="serv-prod/serv/" role="button" id="dropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Services
						</a>
						
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a href="serv-prod/MobRep/">Mobile Repair</a><br>
							<a href="serv-prod/LapRep/">Laptop/Computer Repair</a><br>
							<a href="serv-prod/TabRep/">iPad/Tablet Repair</a>
						</div> -->

					</li>
					<li><a href="{% url 'about' %}">About Us</a></li>
					<li><a href="{% url 'contact' %}">Contact Us</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->
	<div class="container">
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
		{% endif %}
	</div>
	<!-- SHOP_SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- shop -->
				{% for scard in shopc %}
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="{{ scard.image.url }}" alt="">
						</div>
						<div class="shop-body">
							<h3>{{ scard.heading_1 }}<br>{{ scard.heading_2 }}</h3>
							<a href="{{ scard.link }}" class="cta-btn">Book now <i
									class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- /shop -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SHOP_SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">Services/Products</h3>
						<div class="section-nav">
							<ul class="section-tab-nav tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">All</a></li>
								<li><a data-toggle="tab" href="#tab2">Services</a></li>
								<li><a data-toggle="tab" href="#tab3">Products</a></li>
								<!-- <li><a data-toggle="tab" href="#tab1">Accessories</a></li> -->
							</ul>
						</div>
					</div>
				</div>
				<!-- /section title -->

				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab1" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-1">
									<!-- product -->
									{% for prd in object_list %}
									<div class="product">
										<div class="product-img">

											<a href="{{ prd.get_absolute_url }}" class="imagekaa"><img
													src="{{ prd.image.url }}" alt="" style="width: 100%;"></a>
											<div class="product-label">
												<span class="sale">-30%</span>
												{% if prd.get_label_display == 'NEW' %}
												<span class="new">NEW</span>
												{% elif prd.get_label_display == 'BESTSELLER' %}
												<span class="new">BESTSELLER</span>
												{% endif %}
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">{{ prd.get_category_display }}</p>
											<h3 class="product-name"><a
													href="{{ prd.get_absolute_url }}">{{ prd.Name }}</a></h3>
											{% if prd.Discount_Price %}
											<h4 class="product-price">${{ prd.Discount_Price }} <del
													class="product-old-price">${{ prd.Price }}</del></h4>
											{% else %}
											<h4 class="product-price">${{ prd.Price }}</h4>
											{% endif %}
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<!-- <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button> -->
												<!-- <a href="{{ prd.get_absolute_url }}" class="quick-view" style="text-decoration: none;"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></a> -->
												<button class="quick-view"><i class="fa fa-eye"></i><a
														href="{{ prd.get_absolute_url }}"><span class="tooltipp">quick
															view</span></a></button>
											</div>
										</div>
										<div class="add-to-cart">
											{% if user.is_authenticated %}
											{% if prd.category == 'MR' or prd.category == 'LR' or prd.category == 'TR' %}
											<a href="{% url 'onlinebooking' prd.category %}"><button
													class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>book
													online</button></a>
											{% else %}
											<a href="{{ prd.get_add_to_cart_url }}"><button class="add-to-cart-btn"><i
														class="fa fa-shopping-cart"></i>add to cart</button></a>
											{% endif %}
											{% else %}
											{% if prd.category == 'MR' or prd.category == 'LR' or prd.category == 'TR' %}
											<a href="{% url 'onlinebooking' prd.category %}"><button
													class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>book
													online</button></a>
											{% else %}
											<button class="add-to-cart-btn cart" id="{{ prd.id }}"><i
													class="fa fa-shopping-cart"></i> add to
												cart</button>
											{% endif %}
											{% endif %}
										</div>
									</div>
									{% endfor %}

									<!-- /product -->

								</div>
								<div id="slick-nav-1" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->

							<!-- tab2 -->
							<div id="tab2" class="tab-pane">
								<div class="products-slick" data-nav="#slick-nav-2">
									<!-- product -->
									{% for prd in object_list %}
									{% if prd.category == 'MR' or prd.category == 'LR' or prd.category == 'TR' %}
									<div class="product">
										<div class="product-img">

											<a href="{{ prd.get_absolute_url }}" class="imagekaa"><img
													src="{{ prd.image.url }}" alt="" style="width: 100%;"></a>
											<div class="product-label">
												<span class="sale">-30%</span>
												{% if prd.get_label_display == 'NEW' %}
												<span class="new">NEW</span>
												{% elif prd.get_label_display == 'BESTSELLER' %}
												<span class="new">BESTSELLER</span>
												{% endif %}
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">{{ prd.get_category_display }}</p>
											<h3 class="product-name"><a
													href="{{ prd.get_absolute_url }}">{{ prd.Name }}</a></h3>
											{% if prd.Discount_Price %}
											<h4 class="product-price">${{ prd.Discount_Price }} <del
													class="product-old-price">${{ prd.Price }}</del></h4>
											{% else %}
											<h4 class="product-price">${{ prd.Price }}</h4>
											{% endif %}
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<!-- <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button> -->
												<!-- <a href="{{ prd.get_absolute_url }}" class="quick-view" style="text-decoration: none;"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></a> -->
												<button class="quick-view"><i class="fa fa-eye"></i><a
														href="{{ prd.get_absolute_url }}"><span class="tooltipp">quick
															view</span></a></button>
											</div>
										</div>
										<div class="add-to-cart">
											{% if user.is_authenticated %}
											<a href="{% url 'onlinebooking' prd.category %}"><button
													class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>book
													online</button></a>
											{% else %}
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> book
												online</button>
											{% endif %}
										</div>
									</div>
									{% endif %}
									{% endfor %}



								</div>
								<div id="slick-nav-2" class="products-slick-nav"></div>
							</div>
							<!-- /tab2 -->

							<!-- tab3 -->
							<div id="tab3" class="tab-pane">
								<div class="products-slick" data-nav="#slick-nav-3">
									<!-- product -->
									{% for prd in object_list %}
									{% if prd.category == 'MA' or prd.category == 'DA' or prd.category == 'CS' %}
									<div class="product">
										<div class="product-img">

											<a href="{{ prd.get_absolute_url }}" class="imagekaa"><img
													src="{{ prd.image.url }}" alt="" style="width: 100%;"></a>
											<div class="product-label">
												<span class="sale">-30%</span>
												{% if prd.get_label_display == 'NEW' %}
												<span class="new">NEW</span>
												{% elif prd.get_label_display == 'BESTSELLER' %}
												<span class="new">BESTSELLER</span>
												{% endif %}
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">{{ prd.get_category_display }}</p>
											<h3 class="product-name"><a
													href="{{ prd.get_absolute_url }}">{{ prd.Name }}</a></h3>
											{% if prd.Discount_Price %}
											<h4 class="product-price">${{ prd.Discount_Price }} <del
													class="product-old-price">${{ prd.Price }}</del></h4>
											{% else %}
											<h4 class="product-price">${{ prd.Price }}</h4>
											{% endif %}
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<!-- <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button> -->
												<!-- <a href="{{ prd.get_absolute_url }}" class="quick-view" style="text-decoration: none;"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></a> -->
												<button class="quick-view"><i class="fa fa-eye"></i><a
														href="{{ prd.get_absolute_url }}"><span class="tooltipp">quick
															view</span></a></button>
											</div>
										</div>
										<div class="add-to-cart">
											{% if user.is_authenticated %}
											<a href="{{ prd.get_add_to_cart_url }}"><button class="add-to-cart-btn"><i
														class="fa fa-shopping-cart"></i>add to cart</button></a>
											{% else %}
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>add to
												cart</button>
											{% endif %}
										</div>
									</div>
									{% endif %}
									{% endfor %}



								</div>
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
							<!-- /tab3 -->
						</div>
					</div>
				</div>
				<!-- Products tab & slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- HOT DEAL SECTION -->
	{% for hdeal in hd %}
	<div id="hot-deal" class="section" style="background-image: url('{{ hdeal.image.url }}');">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hot-deal hotdate" id='{{ hdeal.datetime|date:"U" }}'>
						<ul class="hot-deal-countdown">
							<li>
								<div>
									<h3 id="days"></h3>
									<span>Days</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="hours"></h3>
									<span>Hours</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="minutes"></h3>
									<span>Mins</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="seconds"></h3>
									<span>Secs</span>
								</div>
							</li>
						</ul>
						<h2 class="text-uppercase">{{ hdeal.datetime }}</h2>
						<p>{{ hdeal.details }}</p>
						<a class="primary-btn cta-btn" href="serv-prod/hotdeals/">Shop now</a>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	{% endfor %}
	<!-- /HOT DEAL SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">Top selling</h3>
						<div class="section-nav">
							<ul class="section-tab-nav tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
								<li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
								<li><a data-toggle="tab" href="#tab2">Cameras</a></li>
								<li><a data-toggle="tab" href="#tab2">Accessories</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /section title -->

				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab2" class="tab-pane fade in active">
								<div class="products-slick" data-nav="#slick-nav-2">
									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="{% static 'prod/img/product06.png' %}" alt="">
											<div class="product-label">
												<span class="sale">-30%</span>
												<span class="new">NEW</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price">$980.00 <del
													class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<!-- <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
														class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span
														class="tooltipp">add to compare</span></button> -->
												<button class="quick-view"><i class="fa fa-eye"></i><span
														class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to
												cart</button>
										</div>
									</div>
									<!-- /product -->

									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="{% static 'prod/img/product07.png' %}" alt="">
											<div class="product-label">
												<span class="new">NEW</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price">$980.00 <del
													class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-btns">

												<button class="quick-view"><i class="fa fa-eye"></i><span
														class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to
												cart</button>
										</div>
									</div>
									<!-- /product -->

									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="{% static 'prod/img/product08.png' %}" alt="">
											<div class="product-label">
												<span class="sale">-30%</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price">$980.00 <del
													class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
											</div>
											<div class="product-btns">

												<button class="quick-view"><i class="fa fa-eye"></i><span
														class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to
												cart</button>
										</div>
									</div>
									<!-- /product -->

									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="{% static 'prod/img/product09.png' %}" alt="">
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price">$980.00 <del
													class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">

												<button class="quick-view"><i class="fa fa-eye"></i><span
														class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to
												cart</button>
										</div>
									</div>
									<!-- /product -->

									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="{% static 'prod/img/product01.png' %}" alt="">
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price">$980.00 <del
													class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">

												<button class="quick-view"><i class="fa fa-eye"></i><span
														class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to
												cart</button>
										</div>
									</div>
									<!-- /product -->
								</div>
								<div id="slick-nav-2" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						</div>
					</div>
				</div>
				<!-- /Products tab & slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">New Arrivals</h4>
						<div class="section-nav">
							<div id="slick-nav-3" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-3">
						<div>
							<!-- product widget -->
							{% for na in newarr1 %}
							<div class="product-widget">
								<div class="product-img">
									<a href="{{ na.get_absolute_url }}" class="imagekaa"><img src="{{ na.image.url }}"
											alt="" style="width: 100%;"></a>
								</div>
								<div class="product-body">
									<p class="product-category">{{ na.get_category_display }}</p>
									<h3 class="product-name"><a href="{{ na.get_absolute_url }}">{{ na.Name }}</a></h3>
									{% if na.Discount_Price %}
									<h4 class="product-price">${{ na.Discount_Price }} <del
											class="product-old-price">${{ na.Price }}</del></h4>
									{% else %}
									<h4 class="product-price">${{ na.Price }}</h4>
									{% endif %}
								</div>
							</div>
							{% endfor %}
							<!-- /product widget -->

						</div>

						{% if newarr2 %}
						<div>
							<!-- product widget -->
							<div class="product-widget">
								{% for na in newarr2 %}
								<div class="product-img">
									<a href="{{ na.get_absolute_url }}" class="imagekaa"><img src="{{ na.image.url }}"
											alt="" style="width: 100%;"></a>
								</div>
								<div class="product-body">
									<p class="product-category">{{ na.get_category_display }}</p>
									<h3 class="product-name"><a href="{{ na.get_absolute_url }}">{{ na.Name }}</a></h3>
									{% if na.Discount_Price %}
									<h4 class="product-price">${{ na.Discount_Price }} <del
											class="product-old-price">${{ na.Price }}</del></h4>
									{% else %}
									<h4 class="product-price">${{ na.Price }}</h4>
									{% endif %}
								</div>
								{% endfor %}
							</div>
							<!-- /product widget -->
						</div>
						{% endif %}
					</div>
				</div>

				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Recommended Accessories</h4>
						<div class="section-nav">
							<div id="slick-nav-4" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-4">
						<div>
							<!-- product widget -->
							{% for na in bestsell1 %}
							<div class="product-widget">
								<div class="product-img">
									<a href="{{ na.get_absolute_url }}" class="imagekaa"><img src="{{ na.image.url }}"
											alt="" style="width: 100%;"></a>
								</div>
								<div class="product-body">
									<p class="product-category">{{ na.get_category_display }}</p>
									<h3 class="product-name"><a href="{{ na.get_absolute_url }}">{{ na.Name }}</a></h3>
									{% if na.Discount_Price %}
									<h4 class="product-price">${{ na.Discount_Price }} <del
											class="product-old-price">${{ na.Price }}</del></h4>
									{% else %}
									<h4 class="product-price">${{ na.Price }}</h4>
									{% endif %}
								</div>
							</div>
							{% endfor %}
							<!-- /product widget -->


						</div>

						{% if bestsell2 %}
						<div>
							{% for na in bestsell2 %}
							<div class="product-widget">
								<div class="product-img">
									<a href="{{ na.get_absolute_url }}" class="imagekaa"><img src="{{ na.image.url }}"
											alt="" style="width: 100%;"></a>
								</div>
								<div class="product-body">
									<p class="product-category">{{ na.get_category_display }}</p>
									<h3 class="product-name"><a href="{{ na.get_absolute_url }}">{{ na.Name }}</a></h3>
									{% if na.Discount_Price %}
									<h4 class="product-price">${{ na.Discount_Price }} <del
											class="product-old-price">${{ na.Price }}</del></h4>
									{% else %}
									<h4 class="product-price">${{ na.Price }}</h4>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>

				<div class="clearfix visible-sm visible-xs"></div>

				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Hot Deals</h4>
						<div class="section-nav">
							<div id="slick-nav-5" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-5">
						<div>
							{% for na in hotdeal1 %}
							<div class="product-widget">
								<div class="product-img">
									<a href="{{ na.get_absolute_url }}" class="imagekaa"><img src="{{ na.image.url }}"
											alt="" style="width: 100%;"></a>
								</div>
								<div class="product-body">
									<p class="product-category">{{ na.get_category_display }}</p>
									<h3 class="product-name"><a href="{{ na.get_absolute_url }}">{{ na.Name }}</a></h3>
									{% if na.Discount_Price %}
									<h4 class="product-price">${{ na.Discount_Price }} <del
											class="product-old-price">${{ na.Price }}</del></h4>
									{% else %}
									<h4 class="product-price">${{ na.Price }}</h4>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>

						{% if hotdeal2 %}
						<div>
							{% for na in hotdeal2 %}
							<div class="product-widget">
								<div class="product-img">
									<a href="{{ na.get_absolute_url }}" class="imagekaa"><img src="{{ na.image.url }}"
											alt="" style="width: 100%;"></a>
								</div>
								<div class="product-body">
									<p class="product-category">{{ na.get_category_display }}</p>
									<h3 class="product-name"><a href="{{ na.get_absolute_url }}">{{ na.Name }}</a></h3>
									{% if na.Discount_Price %}
									<h4 class="product-price">${{ na.Discount_Price }} <del
											class="product-old-price">${{ na.Price }}</del></h4>
									{% else %}
									<h4 class="product-price">${{ na.Price }}</h4>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>Sign Up for the <strong>NEWSLETTER</strong></p>
						<form method="POST">
							{% csrf_token %}
							<input class="input" name="email" type="email" placeholder="Enter Your Email">
							<button class="newsletter-btn" type="submit"><i class="fa fa-envelope"></i>
								Subscribe</button>
						</form>
						<ul class="newsletter-follow">
							<li>
								<a href="https://www.facebook.com/tngtechsolutions/" target="_blank"><i
										class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="https://twitter.com/tng_tech" target="_blank"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="https://www.instagram.com/tngtech.nz/" target="_blank"><i
										class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="https://www.linkedin.com/company/tng-tech-solutions/" target="_blank"><i
										class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">TNG Tech Solutions</h3>
							<p>109-ward street,<br> Hamilton Central, Hamilton,3204</p>
							<ul class="footer-links">
								<!-- <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li> -->
								<li><a href="tel:+64 27 393 3614"><i class="fa fa-phone"></i>+64 27 393 3614</a></li>
								<li><a href="tel:+64 7 834 1325"><i class="fa fa-phone"></i>+64 7 834 1325</a></li>
								<li><a href="mailto:info@tngtechsolutions.co.nz"><i
											class="fa fa-envelope-o"></i>info@tngtechsolutions.co.nz</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Categories</h3>
							<ul class="footer-links">
								<li><a href="#">Hot deals</a></li>
								<li><a href="#">Laptops</a></li>
								<li><a href="#">Smartphones</a></li>
								<li><a href="#">Cameras</a></li>
								<li><a href="#">Accessories</a></li>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Information</h3>
							<ul class="footer-links">
								<li><a href="{% url 'about' %}">About Us</a></li>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
								<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
								<!-- <li><a href="#">Orders and Returns</a></li> -->
								<li><a href="{% url 'tandc' %}">Terms & Conditions</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Service</h3>
							<ul class="footer-links">
								<li><a href="{% url 'profile' %}">My Account</a></li>
								<li><a href="/order-summary/">View Cart</a></li>
								<!-- <li><a href="#">Wishlist</a></li> -->
								<li><a href="#">Track My Order</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><img src="{% static 'prod/img/visa.jpg' %}" alt="" style="height: 18px;"></li>
							<li><img src="{% static 'prod/img/mastercard.jpg' %}" alt="" style="height: 18px;"></li>
							<li><img src="{% static 'prod/img/american-express.jpg' %}" alt="" style="height: 18px;">
							</li>
							<li><img src="{% static 'prod/img/qcard.jpg' %}" alt="" style="height: 18px;"></li>
							<li><img src="{% static 'prod/img/laybuy.jpg' %}" alt="" style="height: 18px;"></li>
							<li><img src="{% static 'prod/img/apple-pay.jpg' %}" alt="" style="height: 18px;"></li>
							<li><img src="{% static 'prod/img/poli.jpg' %}" alt="" style="height: 18px;"></li>
							<li class="ml-4"> <i class="fa fa-globe"> Country: NewZealand</i></li>
						</ul>
						<span class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved |
							tngtechsolutions.co.nz <br> TNGTech is not responsible for any topographical error and
							changes will be done prior any notice
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
						<!-- <span class="copyright"> -->
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<!-- Copyright &copy; -->
						<!-- <script>document.write(new Date().getFullYear());</script> All rights reserved | This
							template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a -->
						<!-- <a href="https://colorlib.com" target="_blank" style="color: #15161D;">Colorlib</a> -->
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<!-- </span> -->
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
	<script src="{% static 'prod/js/jquery.min.js' %}"></script>
	<script src="{% static 'prod/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'prod/js/slick.min.js' %}"></script>
	<script src="{% static 'prod/js/nouislider.min.js' %}"></script>
	<script src="{% static 'prod/js/jquery.zoom.min.js' %}"></script>
	{% if not user.is_authenticated %}
	<script>
		if (localStorage.getItem('cart') == null) {
			var cart = {};
			var cart = new Object();
		} else {
			cart = JSON.parse(localStorage.getItem('cart'));
			// console.log(carti);

		}

		var apnpur = $('.apnpur');
		apnpur.hide();

		updatecart(cart);

		$('.cart').click(function () {
			console.log('clicked');
			var idstr = this.id.toString();
			console.log(idstr);

			if (localStorage.getItem('cart') == null) {
				var cart = new Object();
			} else {
				cart = JSON.parse(localStorage.getItem('cart'));

			}

			if (cart[idstr] != undefined) {
				cart[idstr] = cart[idstr] + 1;
			}
			else {
				cart[idstr] = 1;
			}
			localStorage.setItem('cart', JSON.stringify(cart));
			console.log(cart);

			// document.getElementById('cartlogout').innerHTML = Object.keys(cart).length;

			updatecart(cart);
		})

		cart = JSON.parse(localStorage.getItem('cart'));
		updatecart(cart);
		// if (cart != null) {
		// 	if (Object.keys(cart).length > 0) {
		// 		document.getElementById('cartlogout').innerHTML = Object.keys(cart).length;

		// 	}
		// }

		function updatecart(cart) {
			var sum = 0;
			var total = 0;
			for (var i in cart) {
				sum += cart[i];
				var dp = document.getElementById('dp' + i)
				var op = document.getElementById('op' + i)
				if (dp != null)
					dp = dp.innerHTML;
				total += (cart[i] * dp);
				if (op != null)
					op = op.innerHTML;
				total += (cart[i] * op);
				var qntdp = document.getElementById('apnctqt' + i)
				var qntop = document.getElementById('apnctqt1' + i)
				if (qntdp != null) {
					qntdp.innerHTML = cart[i] + "x";
				}
				if (qntop != null) {
					qntop.innerHTML = cart[i] + "x";
				}

				var apnacart = $('.apnacart' + i);
				apnacart.show();

			}
			document.getElementById('titms').innerHTML = Object.keys(cart).length;
			document.getElementById('tot').innerHTML = "SUBTOTAL:  " + total;
			document.getElementById('cartlogout').innerHTML = sum;

		}

		$('.remitem').click(function () {
			var ids = this.id;
			cart = JSON.parse(localStorage.getItem('cart'));
			remitemcart(cart, ids);

		})



		// Yeh hai remove item ka code
		function remitemcart(cart, a) {
			console.log(cart);
			delete cart[a];
			console.log(cart);
			localStorage.setItem('cart', JSON.stringify(cart));
			var apnacart = $('.apnacart' + a);
			apnacart.hide();
			updatecart(cart);
			// document.getElementById('cartlogout').innerHTML = Object.keys(cart).length;
		}
	</script>
	{% else %}
	<script type="text/javascript">
		// window.onload = function () {
		var cartsend = localStorage.getItem('cart');
		if (cartsend != null) {
			$.ajax({
				url: "{% url 'addtocartlout' %}",
				type: "POST",
				data: { 'cart': cartsend, "csrfmiddlewaretoken": "{{csrf_token}}" }
			})
			localStorage.clear();
			window.location.reload();
		}
		// }
	</script>
	{% endif %}
	<script src="{% static 'prod/js/main.js' %}"></script>

	<script>
		function makeTimer() {
			var hotdate = document.getElementsByClassName('hotdate')[0]
			var endTime = new Date(hotdate.id * 1000);
			endTime = (Date.parse(endTime) / 1000);

			var now = new Date();
			now = (Date.parse(now) / 1000);

			var timeLeft = endTime - now;

			var days = Math.floor(timeLeft / 86400);
			var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
			var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
			var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

			if (hours < "10") { hours = "0" + hours; }
			if (minutes < "10") { minutes = "0" + minutes; }
			if (seconds < "10") { seconds = "0" + seconds; }

			$("#days").html(days);
			$("#hours").html(hours);
			$("#minutes").html(minutes);
			$("#seconds").html(seconds);

		}

		setInterval(function () { makeTimer(); }, 1000);
	</script>
</body>

</html>