{% extends "prod/base.html" %}
{% block css %}
    <style>
        .booking{
            background-image: url('/static/prod/img/booking-bg.jpg');
            background-repeat: no-repeat; 
            background-size: cover;

        }
    </style>
{% endblock %}
{% block secheku %}
<div class="booking">
    <section>
        <div class="container">
            <div class="section-title text-center">
                <h1 style="color:#fff; margin-top:20px;margin-bottom:10px;">Please fill the Order Repair Service Booking Form</h1>
            </div>
            <div class="section-title">
                <h5 style="color:#fff;margin-bottom:10px;"><i class="fa fa-clock-o  pb-4"></i> Mon-Sun 9:00-18:00</h5>
            </div>

            <form method="POST" role="form" id="order-form">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                        </div>
                        <div class="col">
                            {% if user.is_authenticated %}
                                <input type="text" name="email" class="form-control" placeholder="Your Email" required="" value="{{ user.email }}">
                            {% else %}
                            <input type="text" name="email" class="form-control" placeholder="Your Email" required="">
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <input type="text" pattern="[0-9]*" maxlength="10" name="contact" class="form-control"
                                placeholder="Your Contact" required="">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="inputState" name="devicebrand"
                                placeholder="Brand of Your Device">

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">

                            <input type="text" name="type" class="form-control" placeholder="Model of  device"
                                required="">
                        </div>
                        <div class="col">
                            <select name="url_type" class="form-control" required="">
                                {% if ob == 'MR' %}
                                    <option value="">Select type Of device</option>
                                    <option value="mobile" selected>MOBILE</option>
                                    <option value="computer/laptop">Computer/laptop</option>
                                    <option value="tablet/ipad">Tablet/iPad</option>
                                {% elif ob == 'LR' %}
                                    <option value="">Select type Of device</option>
                                    <option value="computer/laptop" selected>Computer/laptop</option>
                                    <option value="mobile">MOBILE</option>
                                    <option value="tablet/ipad">Tablet/iPad</option>
                                {% elif ob == 'TR' %}
                                    <option value="">Select type Of device</option>
                                    <option value="tablet/ipad" selected>Tablet/iPad</option>
                                    <option value="mobile">MOBILE</option>
                                    <option value="computer/laptop">Computer/laptop</option>
                                {% else %} 
                                    <option value="">Select type Of device</option>
                                    <option value="mobile">MOBILE</option>
                                    <option value="computer/laptop">Computer/laptop</option>
                                    <option value="tablet/ipad">Tablet/iPad</option>
                                {% endif %}
                            </select>
                            <!-- <input type="text"  name="url_type" class="form-control" placeholder="Type of your device" required> -->
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <select id="repair" name="repair" class="form-control" required="">
                                <option value="">Repair Options</option>
                                <option value="Full Diagnostic">Full Diagnostic</option>
                                <option value="Screen repair/replace">Screen repair/replace</option>
                                <option value="battery replace">battery replace</option>
                                <option value="Camera repair">Camera repair</option>
                                <option value="keyboard repair">keyboard repair</option>
                                <option value="hard disk">hard disk</option>
                                <option value="Headphone jack">Headphone jack</option>
                                <option value="water damage">water damage</option>
                                <option value="speaker repair">speaker repair</option>
                                <option value="software repair">software repair</option>
                                <option value="SSD repair/replace">SSD repair/replace</option>
                                <option value="Sim/memory card not reading">Sim/memory card not reading</option>
                                <option value="body repair">body repair</option>
                                <option value="Charging port repair">Charging port repair</option>
                                <option value="Network problem">Network problem</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-danger rounded-pill active" role="button" type="submit" aria-pressed="true">Book
                        Now</button>

                </div>
            </form>

        </div>
    </section>
</div>
{% endblock %}