{% extends "prod/base.html" %}
{% load static %}
{% block secheku  %}
    <!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<!-- <div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter">

								<div class="input-checkbox">
									<input type="checkbox" id="category-1">
									<label for="category-1">
										<span></span>
										Laptops
										<small>(120)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-2">
									<label for="category-2">
										<span></span>
										Smartphones
										<small>(740)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-3">
									<label for="category-3">
										<span></span>
										Cameras
										<small>(1450)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-4">
									<label for="category-4">
										<span></span>
										Accessories
										<small>(578)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-5">
									<label for="category-5">
										<span></span>
										Laptops
										<small>(120)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-6">
									<label for="category-6">
										<span></span>
										Smartphones
										<small>(740)</small>
									</label>
								</div>
							</div>
						</div> -->
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<!-- <div class="aside">
							<h3 class="aside-title">Price</h3>
							<div class="price-filter">
								<div id="price-slider"></div>
								<div class="input-number price-min">
									<input id="price-min" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
								<span>-</span>
								<div class="input-number price-max">
									<input id="price-max" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
							</div>
						</div> -->
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<!-- <div class="aside">
							<h3 class="aside-title">Brand</h3>
							<div class="checkbox-filter">
								<div class="input-checkbox">
									<input type="checkbox" id="brand-1">
									<label for="brand-1">
										<span></span>
										SAMSUNG
										<small>(578)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-2">
									<label for="brand-2">
										<span></span>
										LG
										<small>(125)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-3">
									<label for="brand-3">
										<span></span>
										SONY
										<small>(755)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-4">
									<label for="brand-4">
										<span></span>
										SAMSUNG
										<small>(578)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-5">
									<label for="brand-5">
										<span></span>
										LG
										<small>(125)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-6">
									<label for="brand-6">
										<span></span>
										SONY
										<small>(755)</small>
									</label>
								</div>
							</div>
						</div> -->
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<!-- <div class="aside">
							<h3 class="aside-title">Top selling</h3>
							<div class="product-widget">
								<div class="product-img">
									<img src="./img/product01.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="./img/product02.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="./img/product03.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
						</div> -->
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									<h1><strong>Categories</strong></h1>
									<!-- <select class="input-select">
										<option value="0">Popular</option>
										<option value="1">Position</option>
									</select> -->
								</label>

								
							</div>
							<!-- <ul class="store-grid">
								<li class="active"><i class="fa fa-th"></i></li>
								<li><a href="#"><i class="fa fa-th-list"></i></a></li>
							</ul> -->
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							{% for x in ts %}
							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										{% if x == 'Mobile Accessories' %}
										<a href="/serv-prod/MobileAccessories/" class="imagekaa"><img src="{{ ma.image.url }}" alt="" style="width: 100%;"></a>
										{% elif x == 'Laptop Accessories' %}
										<a href="/serv-prod/LaptopAccessories/" class="imagekaa"><img src="{{ la.image.url }}" alt="" style="width: 100%;"></a>
										{% elif x == 'Tablet Accessories' %}
										<a href="/serv-prod/TabletAccessories/" class="imagekaa"><img src="{{ ta.image.url }}" alt="" style="width: 100%;"></a>
										{% elif x == 'Electronic Gadgets' %}
										<a href="/serv-prod/ElectronicGadgets/" class="imagekaa"><img src="{{ eg.image.url }}" alt="" style="width: 100%;"></a>
										{% elif x == 'Latest Accessories' %}
										<a href="/serv-prod/LatestAccessories/" class="imagekaa"><img src="{{ na.image.url }}" alt="" style="width: 100%;"></a>
										{% endif %}

										{% if x == 'Mobile Repair' %}
										<a href="/serv-prod/MobRep/" class="imagekaa"><img src="{{ mr.image.url }}" alt="" style="width: 100%;"></a>
										{% elif x == 'Laptop/Computer Repair' %}
										<a href="/serv-prod/LapRep/" class="imagekaa"><img src="{{ lr.image.url }}" alt="" style="width: 100%;"></a>
										{% elif x == 'iPad/Tablet Repair' %}
										<a href="/serv-prod/TabRep/" class="imagekaa"><img src="{{ tr.image.url }}" alt="" style="width: 100%;"></a>
										{% endif %}
										
									</div>
									<div class="product-body">
										{% if x == 'Mobile Accessories' %}
										<h3 class="product-name"><a href="/serv-prod/MobileAccessories/">{{ x }}</a></h3>
										{% elif x == 'Laptop Accessories' %}
										<h3 class="product-name"><a href="/serv-prod/LaptopAccessories/">{{ x }}</a></h3>
										{% elif x == 'Tablet Accessories' %}
										<h3 class="product-name"><a href="/serv-prod/TabletAccessories/">{{ x }}</a></h3>
										{% elif x == 'Electronic Gadgets' %}
										<h3 class="product-name"><a href="/serv-prod/ElectronicGadgets/">{{ x }}</a></h3>
										{% elif x == 'Latest Accessories' %}
										<h3 class="product-name"><a href="/serv-prod/LatestAccessories/">{{ x }}</a></h3>
										{% endif %}

										{% if x == 'Mobile Repair' %}
										<h3 class="product-name"><a href="/serv-prod/MobRep/">{{ x }}</a></h3>
										{% elif x == 'Laptop/Computer Repair' %}
										<h3 class="product-name"><a href="/serv-prod/LapRep/">{{ x }}</a></h3>
										{% elif x == 'iPad/Tablet Repair' %}
										<h3 class="product-name"><a href="/serv-prod/TabRep/">{{ x }}</a></h3>
										{% endif %}
									</div>
								</div>
							</div>
							<!-- /product -->
							{% endfor %}

						
						</div>
						<!-- /store products -->

						
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock %}